.header {
  display: flex;
  justify-content: left;
  background-color: #042e68;
  padding: 5px;
  color: #fff;

  .divHeader h1 {
    font-size: 23px;
  }

  .divHeader {
    width: 100%;
    max-width: 690px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  h1 span {
    display: block;
    font-size: 18px;
    margin-top: 5px;
  }

  .logo {
    width: 100%;
    max-width: 160px;
  }

  .retrato {
    width: 65px;
    height: 100%;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 360px) {
  .header h1 {
    font-size: 20px;
    margin-top: 15px;
  }

  .header h1 span {
    font-size: 15px;
  }

  .header .logo {
    width: 265px;
  }

  .header .retrato {
    width: 60px;
  }
}
