<card-ui [cardStyle]="'containerCardNames justifyContentStart'">
  <app-breadcrumb title="Jogos em Libras" link="/"></app-breadcrumb>
</card-ui>
<card-ui [cardStyle]="'containerCard'">
  <div class="card-list">
    @for (game of games; track game) {
      <div class="card-initial">
        <div class="cardItem">
          <a [routerLink]="game.link">
            <img [src]="game.image" alt="game.title" />
            <p>{{ game.title }}</p>
          </a>
        </div>
      </div>
    }
  </div>
</card-ui>
