<div class="card-title-fonts">
  <div class="titleSpeech">
    @if (isMobile) {
      <span>
        Leitura de Texto
      </span>
    }
  </div>
  <div>
    <button class="btn btn-secondary btn-sm mx-2" aria-label="Aumentar Fonte" (click)="increaseFontSize()">
      <bi name="zoom-in" class="sizeIcon"></bi>
    </button>
    <button class="btn btn-secondary btn-sm btnFontSize" aria-label="Diminuir Fonte" (click)="decreaseFontSize()">
      <bi name="zoom-out" class="sizeIcon"></bi>
    </button>
  </div>
</div>

<div class="container">
  <form [formGroup]="speechForm">
    <textarea [readonly]="isListening" #textArea id="textSpeech" [value]="displayText" formControlName="textSpeech"
    [style.fontSize.px]="fontSize" class="form-control" rows="8" placeholder="Digite o texto para ler..."></textarea>
    <div class="displayWords">
      <button class="btn btn-outline-secondary" (click)="showKeywords = !showKeywords">
        @if (showKeywords) {
          <bi name="caret-up-fill" class="sizeIcon"></bi>
        }
        @if (!showKeywords) {
          <bi name="caret-down-fill" class="sizeIcon"></bi>
        }
      </button>
      @if (!showKeywords) {
        <div class="keywords-container">
          @for (word of keywords; track word) {
            <button class="keyword-button" (click)="addKeyword(word)"
              [disabled]="isKeywordUsed(word)">
              {{ word }}
            </button>
          }
        </div>
      }
    </div>

    <div class="buttons">
      @if (!isListening && !isSpeaking) {
        <button name="btnSpeak" [disabled]="!textControl?.value.trim() "
        class="btn btn-primary" (click)="speak()">🔊 Ler </button>
      }
      @if (isSpeaking) {
        <button class="btn btn-info" (click)="resetSpeech()">
          ⏹️ Parar
        </button>
      }
      @if (textControl?.value.trim() && transcript.length === 0) {
        <button name="btnClear" [disabled]="isSpeaking"
        class="btn btn-warning" (click)="clearText()">🧹 Limpar </button>
      }
    </div>
  </form>
</div>
<app-tone-bar
  [pitch]="pitch"
  [showTone]="showTone"
  [baseScale]="baseScale">
</app-tone-bar>
