.container {
  max-width: 650px;
  margin: 10px auto;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #fafafa;
}

.card-title-fonts {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.titleSpeech {
  margin: 12px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 17px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons button {
  margin: 5px;
  cursor: pointer;
}

p {
  color: green;
  font-weight: bold;
}

.content-text {
  text-align: justify;
  padding: 10px;
  background-color: #e4e4e4;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 20px;
}

.sizeIcon {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.output {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  min-height: 120px;
  background: #f9f9f9;
  margin-top: 15px;
  text-align: left;
}

.output span {
  margin-right: 5px;
  display: inline-block;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 6px;
}

.btn-keyword {
  background-color: #017cff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.keywords-container {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  gap: 12px;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #c5c5c5;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.keywords-container::-webkit-scrollbar {
  height: 6px;
}

.keywords-container::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.keywords-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.keyword-button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 999px;
  padding: 6px 12px;
  font-size: 14px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  margin-bottom: 5px;
  margin-top: 5px;
}

.keyword-button:hover:not(:disabled) {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.4);
}

.keyword-button:disabled {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
  border-color: #ccc;
}

.displayWords {
  display: flex;
  align-items: flex-start;
}
