.letter-modal {
  font-size: 15rem;
  padding: 0px;
}

.modal-backdrop-ps {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-ps {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.modal-header-ps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn-ps {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: -10px;
  max-width: 450px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sizeIconArrow {
  height: 50px;
  width: 50px;
}
