<div *ngIf="showModal">
  <div class="modal-backdrop-ps" *ngIf="isOpen" (click)="closeOnBackdropClick($event)">
    <div class="modal-ps" (click)="$event.stopPropagation()">
      <div class="modal-header-ps">
        <button class="close-btn-ps" (click)="close()">X</button>
      </div>
      <div class="modal-body-ps">
        <span [ngClass]="[cardStyle, fontClass]" class="letter-modal">{{ content }}</span>
      </div>
      <div class="modal-footer-ps">
        <div class="navigation-buttons">
          <button class="btn btn-link" *ngIf="!isFirstLetter" (click)="previousLetter()">
            <bi name="arrow-left-fill" class="sizeIconArrow"></bi>
          </button>
          <button class="btn btn-link" *ngIf="!isLastLetter" (click)="nextLetter()">
            <bi name="arrow-right-fill" class="sizeIconArrow"></bi>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

