<card-ui [cardStyle]="'containerCardFinger justifyContentStart'">
  <app-breadcrumb [title]="title" [link]="link"></app-breadcrumb>
</card-ui>
<content-ui [cardStyle]="'contentCard centerCard'">
  <div class="displayFlexFinger">
    <app-cards [type]="'datilologia'" [redirect]="'/alfabeto'"></app-cards>
    <component-select [disabled]="!showFonts" (fontChange)="handleFontChange($event)"></component-select>
  </div>
    <app-letters (letterSelected)="onLetterSelected($event)" [cardStyle]="'resultLetter cardLetters'" [fontClass]="selectedFont"></app-letters>
    <app-modal-letter #modal [isFirstLetter]="isFirstLetter()" [isLastLetter]="isLastLetter()"
    (previous)="previousLetter()" (next)="nextLetter()"
    [cardStyle]="'letter-modal'" [fontClass]="selectedFont"></app-modal-letter>
    <component-bottom-sheet>
      <p class="letterBottomSheet fontLibrasA">{{ selectedLetter }}</p>
    </component-bottom-sheet>
</content-ui>



