.displayFlexFinger {
  display: flex;
  justify-content: space-between;
}

.letterBottomSheet {
  font-size: 25rem;
  height: 100%;
}

.selectFont {
  margin-top: 15px;
}

.sizeIcon {
  width: 25px;
  height: 25px;
  display: inline-block;
}
