<card-ui [cardStyle]="'containerCardFinger justifyContentStart'">
  <app-breadcrumb [title]="title" [link]="link"></app-breadcrumb>
</card-ui>
<content-ui [cardStyle]="'contentCard centerCard'">
  <div class="displayFlexFinger">
    <app-cards [type]="'datilologia'" (letterSelected)="onLetterEntered($event)" [redirect]="'/alfabeto'"></app-cards>
    <component-select [disabled]="!showFonts" (fontChange)="handleFontChange($event)"></component-select>
   </div>
    <app-letters (letterSelected)="onLetterSelected($event)" [cardStyle]="'resultLetter cardLetters fingerLetters'" [fontClass]="selectedFont"></app-letters>
</content-ui>



