.container {
  max-width: 660px;
  margin: 10px auto;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #fafafa;
}

.containerCardVoice {
  max-width: 660px;
  margin: 10px auto;
}

.sizeIcon {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.sizeIconVoice {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
}
