.container {
  max-width: 600px;
  text-align: center;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.buttons button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
}

p {
  color: green;
  font-weight: bold;
}

.content-text {
  text-align: justify;
  padding: 10px;
  background-color: #e4e4e4;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 20px;
}

.sizeIcon {
  width: 15px;
  height: 15px;
  display: inline-block;
}
