<card-ui [cardStyle]="'containerCardNames justifyContentStart'">
  <app-breadcrumb [title]="title" link="/"></app-breadcrumb>
</card-ui>
<card-ui [cardStyle]="'containerCard'">
  <div class="card-list">
    @for (sign of libras; track sign) {
      <div class="card-initial">
        <div class="cardItem">
          <a [routerLink]="sign.link">
            <img [src]="sign.image" alt="sign.title" />
            <p>{{ sign.title }}</p>
          </a>
        </div>
      </div>
    }
  </div>
</card-ui>

