<card-ui [cardStyle]="'containerCard'">
  <app-breadcrumb title="Diálogo em Libras" link="/webapp"></app-breadcrumb>
</card-ui>
<div class="dialog-container">
  <div *ngFor="let msg of combinedDialogues" [ngClass]="{'message-row': true, 'right': msg.sender === 'B'}">
    <img [src]="msg.gif" class="gif" />
    <div class="message" [ngClass]="{'b-message': msg.sender === 'B'}">{{ msg.text }}</div>
  </div>

<div
  class="typing-indicator message-row"
  *ngIf="isTyping"
  [ngClass]="{'right': typingSender === 'B'}"
>
  <div class="message" [ngClass]="{'b-message': typingSender === 'B'}">
    Gravando<span class="dot"></span><span class="dot"></span><span class="dot"></span>
  </div>
</div>


</div>
  <div class="controls">
    <button *ngIf="showAButton" (click)="showNext('A')">Pessoa A</button>
    <button *ngIf="showBButton" (click)="showNext('B')">Pessoa B</button>
    <button *ngIf="conversationEnded && !isTyping" (click)="resetConversation()">Resetar conversa</button>
  </div>
