.dialog-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #dcdcdc;
  border: 1px solid #607d8b;
  border-radius: 10px;

  max-height: 540px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.containerDialogue {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.dialog-container {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
.dialog-container::-webkit-scrollbar {
  width: 6px;
}
.dialog-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.message-row {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

.message-row.right {
  flex-direction: row-reverse;
  text-align: right;
}

.gif-wrapper {
  position: relative;
  width: fit-content;
  margin-top: 5px;
}

.gif {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 10px;
  margin-bottom: 10px;
}

.message {
  background-color: #e0e0e0;
  padding: 10px 14px;
  border-radius: 12px;
  max-width: 95%;
  animation: fadeIn 0.3s ease-in;
}

.message-text {
  text-align: center;
}

.message.b-message {
  background-color: #cdeeff;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

button {
  padding: 10px 16px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #1565c0;
}

.button-green {
  background-color: #4caf50;
  color: white;
}

.button-green:hover {
  background-color: #79ce7c;
}

.button-black {
  background-color: #000;
  color: white;
}

.button-black:hover {
  background-color: #333;
}

.typing-indicator {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.typing-indicator.right {
  display: flex;
  justify-content: flex-start;
}

.start-tip {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.sizeIcon {
  width: 30px;
  height: 30px;
  color: #042e68;
  cursor: pointer;
}

.message {
  background-color: #faffca;
  border: 2px solid #939393;
  border-radius: 16px;
  padding: 8px 12px;
  font-size: 14px;
  color: #333;
  display: flex;
  justify-content: center;
}

.message-typing {
  background-color: #faffca;
  border: 2px solid #939393;
  border-radius: 16px;
  padding: 8px 12px;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
}

.b-message {
  background-color: #d1eaff;
  color: #004085;
  display: flex;
}

.b-message-typing {
  background-color: #d1eaff;
  color: #004085;
  display: flex;
}

.dot {
  width: 4px;
  height: 4px;
  margin-left: 5px;
  background-color: #555;
  border-radius: 50%;
  display: inline-block;
  animation: blink 1.4s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
  40% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
