<card-ui [cardStyle]="'containerCardFinger justifyContentStart'">
  <app-breadcrumb [title]="title" [link]="link"></app-breadcrumb>
</card-ui>
<content-ui [cardStyle]="'contentCard centerCard'">
  <app-cards [type]="'alfabeto'" [redirect]="letter"></app-cards>
  <div class="resultLetter cardLetters">
    {{ this.selectedLetter }}
  </div>
  <!--   <app-arrows [routerLink]="routerLink"></app-arrows> -->
  <div class="navigation-buttons">
    <div class="row">
    <div class="col">
         @if (!isFirstLetter()) {
      <button class="btn btn-link" (click)="previousLetter()">
        <bi name="arrow-left-circle-fill" class="sizeIconArrow"></bi>
      </button>
    }
    </div>
    <div class="col">
          @if (!isLastLetter()) {
      <button class="btn btn-link" (click)="nextLetter()">
        <bi name="arrow-right-circle-fill" class="sizeIconArrow"></bi>
      </button>
    }
    </div>
  </div>
  </div>
</content-ui>
