<div mat-dialog-content class="dialogContent">
  <h2 class="titleModal" mat-dialog-title>
    {{ data.title }}
    <a class="clickClose" (click)="cancel()">X</a>
  </h2>
  <div class="gif-container">
    @if (loading) {
      <div class="spinner"></div>
    }
    @if (!loading || data.video) {
      <img (load)="onGifLoad()"
        (error)="onGifError()"
        class="video" [src]="data.video" [alt]="data.title" />
    }
  </div>
  @if (data.id === 2) {
    <span class="resultName" [ngClass]="font"> {{ name }}</span>
  }
</div>
