.modalSheet {
  height: 515px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.video {
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
}

.clickClose {
  float: right;
  cursor: pointer;
  font-size: 20px;
}
