.resultLetter {
  background: #fff;
  border: 2px solid #979797;
  border-radius: 10px;
  font-size: 60px;
  padding: 15px;
  text-align: center;
  word-break: break-word;
  line-height: normal;
}

.resultLetter span {
  padding: 6px;
}

.resultLetter.cardLetters {
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resultLetter a {
  color: #000;
  cursor: pointer;
}

.resultLetter.fingerLetters {
  font-size: 70px;
}


.selectFonts {
  width: 160px;
}

.sizeIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.font-buttons {
  display: flex;
  justify-content: flex-end;
}
