<card-ui [cardStyle]="'containerCardNumbers justifyContentStart'">
  <app-breadcrumb [title]="title" [link]="link"></app-breadcrumb>
</card-ui>
<div class="containerFacial">
  <div id="video-container">
     <video #video autoplay muted playsinline></video>
    <canvas #canvas></canvas>
  </div>
  @if (currentLabelPt) {
    <h2 class="expressions">
      Expressão: {{ currentLabelPt }} {{ currentEmoji }}
    </h2>
  }
  @if (!currentLabelPt) {
    <h3 class="alert alert-info text-center mt-1">
      Aproxime-se ao sensor para detectar expressões faciais
    </h3>
  }
</div>
