<card-ui [cardStyle]="'containerCardNumbers justifyContentStart'">
  <app-breadcrumb [title]="title" [link]="link"></app-breadcrumb>
</card-ui>
<div class="containerFacial">
  <div id="video-container">
    <video id="video" width="640" height="480" autoplay muted></video>
  </div>
  @if (currentLabelPt) {
    <h2 class="expressions">
      Expressão: {{ currentLabelPt }} {{ currentEmoji }}
    </h2>
  }
  @if (!currentLabelPt) {
    <h2 class="alert alert-info text-center mt-3">
      Aproxime-se ao sensor para detectar expressões faciais
    </h2>
  }
</div>
