.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 1px solid #ccc;
  margin-top: 1rem;
  overflow: hidden;
}

.gesture {
  margin-top: 1rem;
  font-size: 20px;
  position: relative;
  bottom: 75px;
  background-color: #ccc;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #3a3a3a;
}
