.container {
  max-width: 650px;
  margin: 10px auto;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #fafafa;
}

.buttons {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sizeIcon {
  width: 15px;
  height: 15px;
  display: inline-block;
  font-weight: bold;
}

.card-title-fonts {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.titleSpeech {
  margin: 12px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 17px;
}

.btnWords {
  margin: 8px;
}

.keywords-container {
  display: flex;
  padding: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #c5c5c5;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.displayWords {
  display: flex;
  align-items: flex-start;
}

