<div class="card-title-fonts">
  <div class="titleSpeech">
    @if (isMobile) {
      <span>
        Leitura por Palavras
      </span>
    }
  </div>
</div>
<div class="container">
  <div class="buttons">
    @for (word of keywords; track word; let i = $index) {
      <button class="btn btn-outline-primary btnWords"
        [ngClass]="showDeleteAll ? { 'btn-outline-danger': 'btn-outline-primary' } : {}"
        (click)="speak(word)">🔊 {{ word
        }} @if (showDeleteAll) {
        <button class="btn btn-danger btn-sm" (click)="deleteWord(i)"> X </button>
      }</button>
    }
  </div>
</div>
<app-tone-bar
  [pitch]="pitch"
  [showTone]="showTone"
  [baseScale]="baseScale">
</app-tone-bar>
<div class="displayWords">
  <button class="btn btn-outline-secondary" (click)="showAddKeywords = !showAddKeywords">
    @if (showAddKeywords) {
      <bi name="caret-up-fill" class="sizeIcon"></bi>
    }
    @if (!showAddKeywords) {
      <bi name="caret-down-fill" class="sizeIcon"></bi>
    }
  </button>
  @if (!showAddKeywords) {
    <div class="keywords-container">
      <input class="form-control me-3" type="text" [(ngModel)]="newWord" placeholder="Adicionar Nova Palavra">
      <button class="btn btn-success" (click)="addWord()">
        <bi name="plus-lg" class="sizeIcon"></bi>
      </button>
      <button class="btn btn-danger ms-3" (click)="showDeleteAll = !showDeleteAll">
        🗑️
      </button>
    </div>
  }
</div>
