<div class="card-title-fonts">
  <div class="titleSpeech">
    <span *ngIf="isMobile">
      Captura de Texto
    </span>
  </div>
  <div>
    <button class="btn btn-secondary btn-sm mx-2" aria-label="Aumentar Fonte" (click)="increaseFontSize()">
      <bi name="zoom-in" class="sizeIcon"></bi>
    </button>
    <button class="btn btn-secondary btn-sm btnFontSize" aria-label="Diminuir Fonte" (click)="decreaseFontSize()">
      <bi name="zoom-out" class="sizeIcon"></bi>
    </button>
  </div>
</div>

<div class="container">
  <form [formGroup]="speechForm">
    <div *ngIf="cameraOn" class="camera-container">
      <video #video autoplay playsinline></video>
      <canvas #canvas hidden></canvas>
    </div>
    <div class="buttons">
      <button class="btn btn-primary btn-sm mb-2" (click)="startCamera()" *ngIf="!cameraOn">📷 Ligar Câmera</button>
      <ng-container *ngIf="cameraOn">
        <button class="btn btn-info btn-sm mb-2" (click)="capture()">📸 Capturar</button>
        <button class="btn btn-outline-danger btn-sm mb-2" (click)="stopCamera()">🔴 Desligar Câmera</button>
      </ng-container>
    </div>
    <input formControlName="inputFile" class="form-control form-control-sm" type="file" accept="image/*"
      (change)="onFileSelected($event)" />
    <div *ngIf="isProcessing">
      <div class="spinner-border" role="status">
      </div> Processando imagem...
    </div>
    <!--     <textarea #textArea id="textSpeech" formControlName="textSpeech" [style.fontSize.px]="fontSize" class="form-control"
      rows="4" placeholder="Texto capturado aparecerá aqui..."></textarea> -->

    <textarea #textArea id="textResult" formControlName="textResult"
      [style.fontSize.px]="fontSize" class="form-control" rows="6" [readOnly]="isListening"
      placeholder="Texto capturado aparecerá aqui..."></textarea>
  </form>
  <div class="buttons">
    <button name="btnSpeak" [disabled]="!textControl?.value.trim()" *ngIf="!isListening && !isSpeaking"
      class="btn btn-primary" (click)="speakText()">🔊 Ler </button>
    <button class="btn btn-info" (click)="resetSpeech()" *ngIf="isSpeaking">
      ⏹️ Parar
    </button>
    <button name="btnClear" *ngIf="textControl?.value.trim()" [disabled]="isSpeaking" class="btn btn-warning"
      (click)="clearText()">🧹 Limpar </button>
  </div>
</div>
