<div class="card-title-fonts">
  <div class="titleSpeech">
    @if (isMobile) {
      <span>
        Captura de Texto
      </span>
    }
  </div>
  <div>
    <button class="btn btn-secondary btn-sm mx-2" aria-label="Aumentar Fonte" (click)="increaseFontSize()">
      <bi name="zoom-in" class="sizeIcon"></bi>
    </button>
    <button class="btn btn-secondary btn-sm btnFontSize" aria-label="Diminuir Fonte" (click)="decreaseFontSize()">
      <bi name="zoom-out" class="sizeIcon"></bi>
    </button>
  </div>
</div>

<div class="container">
  <form [formGroup]="speechForm">
    @if (cameraOn) {
      <div class="camera-container">
        <video #video autoplay playsinline></video>
        <canvas #canvas hidden></canvas>
      </div>
    }
    <div class="buttons">
      @if (!cameraOn) {
        <button class="btn btn-primary btn-sm mb-2" (click)="startCamera()">📷 Ligar Câmera</button>
      }
      @if (cameraOn) {
        <button class="btn btn-info btn-sm mb-2" (click)="capture()">📸 Capturar</button>
        <button class="btn btn-outline-danger btn-sm mb-2" (click)="stopCamera()">🔴 Desligar Câmera</button>
      }
    </div>
    <input formControlName="inputFile" class="form-control form-control-sm" type="file" accept="image/*"
      (change)="onFileSelected($event)" />
    @if (isProcessing) {
      <div>
        <div class="spinner-border" role="status">
        </div> Processando imagem...
      </div>
    }
    <textarea #textArea id="textResult" formControlName="textResult"
      [style.fontSize.px]="fontSize" class="form-control" rows="6" [readOnly]="isListening"
    placeholder="Texto capturado aparecerá aqui..."></textarea>
  </form>
  <div class="buttons">
    @if (!isListening && !isSpeaking) {
      <button name="btnSpeak" [disabled]="!textControl?.value.trim()"
      class="btn btn-primary" (click)="speakText()">🔊 Ler </button>
    }
    @if (isSpeaking) {
      <button class="btn btn-info" (click)="resetSpeech()">
        ⏹️ Parar
      </button>
    }
    @if (textControl?.value.trim()) {
      <button name="btnClear" [disabled]="isSpeaking" class="btn btn-warning"
      (click)="clearText()">🧹 Limpar </button>
    }
  </div>
</div>
<app-tone-bar
  [pitch]="pitch"
  [showTone]="showTone"
  [baseScale]="baseScale">
</app-tone-bar>
