  <div class="container text-center">
    <div class="row">
      <div class="col-md-4 col-lg-4" *ngFor="let gretting of grettings">
        <div class="cardApp greeting">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <div class="card bg-light">
                  <h5 class="card-header text-white bg-primary">{{ gretting.titlePt }}</h5>
                  <div class="card-body">
                    <img class="card-img" [src]="gretting.imagePt" [alt]="gretting.titlePt">
                  </div>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="card bg-light">
                  <h5 class="card-header text-white bg-primary">{{ gretting.titleLs }}</h5>
                  <div class="card-body">
                    <img class="card-img" [src]="gretting.imageLs" [alt]="gretting.titleLs">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




