<card-ui [cardStyle]="'containerCardNames justifyContentStart'">
  <app-breadcrumb [title]="title" [link]="link"></app-breadcrumb>
</card-ui>
<content-ui [cardStyle]="'containerCard'">
<div class="formGroup formGroupName">
    <label htmlFor="name"> <span class="spanName">{{ listNames[0].title }}</span>
      <button *ngIf="!isMobile" class="btnInfo" (click)="openDialog(1)">
        <img [src]="icon" alt="Libras" />
       </button>
      <button *ngIf="isMobile" class="btnInfo" (click)="openBottomSheet(1)">
        <img [src]="icon" alt="Libras" />
       </button>
    </label>
    <input
        class="inputCamp name mb-3" type="text"
        [(ngModel)]="nameInput"
        placeholder='Digite seu nome aqui'
        autoComplete="off"
    />
  <div class="groupNames">
    <div class="labelFontes">
    <label> <span class="spanName">{{ listNames[1].title }}</span>
      <button *ngIf="!isMobile" class="btnInfo" (click)="openDialog(2)">
        <img [src]="icon" alt="Libras" />
       </button>
        <button *ngIf="isMobile" class="btnInfo" (click)="openBottomSheet(2)">
        <img [src]="icon" alt="Libras" />
       </button>
    </label>
  </div>
  <component-select [disabled]="!nameInput" (fontChange)="handleFontChange($event)"></component-select>
    <p *ngIf="!nameInput" class="result inicial mt-2">
      Após o nome digitado, seu nome em Libras aparece aqui
    </p>
      <p *ngIf="nameInput" [ngClass]="'mt-2 result' + ' ' + selectedFont">
        {{ nameInput }}
      </p>
  </div>
</div>
</content-ui>
