<card-ui [cardStyle]="'containerCardNames justifyContentStart'">
  <app-breadcrumb [title]="title" [link]="link"></app-breadcrumb>
</card-ui>
<content-ui [cardStyle]="'containerCard'">
  <div class="formGroup formGroupName">
    <label htmlFor="name"> <span class="spanName">{{ listNames[0].title }}</span>
    @if (!isMobile) {
      <button class="btnInfo" (click)="openDialog(1)">
        <img [src]="icon" alt="Libras" />
      </button>
    }
    @if (isMobile) {
      <button class="btnInfo" (click)="openBottomSheet(1)">
        <img [src]="icon" alt="Libras" />
      </button>
    }
  </label>
  <input
    class="inputCamp name mb-3" type="text"
    [(ngModel)]="nameInput"
    placeholder='Digite seu nome aqui'
    autoComplete="off"
    (ngModelChange)="getName(nameInput)"
    />
  <div class="groupNames">
    <div class="labelFontes">
      <label> <span class="spanName">{{ listNames[1].title }}</span>
      @if (!isMobile) {
        <button [disabled]="!nameInput" class="btnInfo" (click)="openDialog(2)">
          <img [src]="icon" alt="Libras" />
        </button>
      }
      @if (isMobile) {
        <button [disabled]="!nameInput" class="btnInfo" (click)="openBottomSheet(2)">
          <img [src]="icon" alt="Libras" />
        </button>
      }
    </label>
  </div>
  <component-select [disabled]="!nameInput" (fontChange)="handleFontChange($event)"></component-select>
  @if (!nameInput) {
    <p class="result inicial mt-2">
      Após o nome digitado, seu nome em Libras aparece aqui
    </p>
  }
  @if (nameInput) {
    <p [ngClass]="'mt-2 result' + ' ' + selectedFont">
      {{ nameInput }}
    </p>
  }
</div>
</div>
</content-ui>
