.menu {
  margin: 10px;
}

.menu .dropMenu {
  color: #28166f;
}

.btn-menu {
  color: #28166f;
  border: none;
  margin-top: 8px;
}

.sizeIcon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  position: relative;
  top: -7px;
  right: 7px;
}

.menu a.menuSpc {
  color: #28166f;
  margin-right: 10px;
}
