.fontLibrasA {
  font-family: "Libras 2019";
}

.letter {
  display: ruby-text;
  justify-content: center;
 }

 .letter span {
   display: block;
   background: #fff;
   border-radius: 10px;
   padding: 5px;
 }

 .letter .fontSizeA {
  font-size: 4rem;
  padding-top: 10px;
 }

 .letter .fontSizeB {
  font-size: 3.2rem;
  padding: 15px;
  padding-bottom: 18px;
  margin-left: 15px;
}

 .letter .fontBack {
  background: #66e5f5;
  color: #3f51b5;
  cursor: default;
 }



 .backWhite {
  background-color: #fff;
 }
