.menu {
  margin: 10px;
  margin-top: 35px;

  .dropMenu {
    color: #FFF;
  }
}

.btn-menu {
  color: #fff;
  border: none;
}

.sizeIcon {
  height: 35px;
  width: 35px;
}

.menu  {
  a.menuSpc {
    color: #FFF;
    margin-right: 10px;
  }
}
