.resultLetter {
  background: #fff;
  border: 2px solid #979797;
  border-radius: 10px;
  font-size: 15rem;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  line-height: normal;
}

.resultLetter span {
  padding: 6px;
}

.resultLetter.cardLetters {
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
  padding-top: 30px;
  text-transform: capitalize;
  cursor: context-menu;
}

.resultLetter a {
  color: #3f51b5;
  cursor: pointer;
}

.displayFlexFinger {
  display: flex;
  justify-content: space-between;
}

.letterBottomSheet {
  font-size: 25rem;
  height: 100%;
}

.sizeIconArrow {
  height: 40px;
  width: 40px;
}
