<card-ui [cardStyle]="'containerCardNames justifyContentStart'">
  <app-breadcrumb [title]="title" link="/"></app-breadcrumb>
</card-ui>
<card-ui [cardStyle]="'containerCard'">
  <div class="card-list">
    @for (comp of computer; track comp) {
      <div class="card-initial">
        <div class="cardItem">
          <a [routerLink]="comp.link">
            <img [src]="comp.image" alt="comp.title" />
            <p>{{ comp.title }}</p>
          </a>
        </div>
      </div>
    }
  </div>
</card-ui>
